<div ui-content-for="title">
  <span class="title-text">Denver Locations</span>
</div>
<div ui-content-for="modals">
  <div ng-include="'modal_view_carousel_events.html'"></div>
</div>

<div class="carousel">
  <div class="carousel-inner">
    <div class="carousel-item"
        style="background-image: url(http://www.nyedesign.org/images/1.jpg);">
        <h2><strong>Washington Park - Denver</strong></h2>
        <p><strong>Available Sports: Tennis, Basketball, Volleyball</strong></p>
        <a href="" ui-turn-on="modal_view_carousel_events" ng-click="registerClickModal(1)" class="btn btn-success btn-xs">View Events</a>
    </div>
    <div class="carousel-item"
         style="background-image: url(http://www.nyedesign.org/images/2.jpg);">
         <h2><strong>East High School - Denver</strong></h2>
         <p><strong>Available Sports: Tennis, Basketball, Cornhole</strong></p>
         <a href="" ui-turn-on="modal_view_carousel_events" ng-click="registerClickModal(3)" class="btn btn-success btn-xs">View Events</a>

    </div>
    <div class="carousel-item"
         style="background-image: url(http://www.nyedesign.org/images/3.jpg);">
         <h2><strong>West High School - Denver</strong></h2>
         <p><strong>Available Sports: Basketball, Hockey</strong></p>
         <a href="" ui-turn-on="modal_view_carousel_events" ng-click="registerClickModal(4)" class="btn btn-success btn-xs">View Events</a>

    </div>
    <div class="carousel-item"
         style="background-image: url(http://www.nyedesign.org/images/4.jpg);">
         <h2><strong>Cheeseman Park - Denver</strong></h2>
         <p><strong>Available Sports: Vollyball, Kickball, Cornhole</strong></p>
         <a href="" ui-turn-on="modal_view_carousel_events" ng-click="registerClickModal(2)" class="btn btn-success btn-xs">View Events</a>

    </div>
    <div class="carousel-item"
         style="background-image: url(http://www.nyedesign.org/images/5.jpg);">
         <h2><strong>Sloans Lake - Denver</strong></h2>
         <p><strong>Available Sports: Basketball, Swimming</strong></p>
         <a href="" ui-turn-on="modal_view_carousel_events" ng-click="registerClickModal(5)" class="btn btn-success btn-xs">View Events</a>

    </div>
  </div>
</div>
