<div ui-content-for="title">
  <span>Denver Locations</span>
</div>

<div class="carousel">
  <div class="carousel-inner">
    <div class="carousel-item"
        style="background-image: url(http://www.nyedesign.org/images/1.jpg);">
        <h2><strong>Washington Park - Denver</strong></h2>
        <p><strong>Available Sports: Tennis, Basketball, Volleyball</strong></p>
        <button type="button" class="btn btn-success btn-xs update-author-btn">View Events</button>
    </div>
    <div class="carousel-item"
         style="background-image: url(http://www.nyedesign.org/images/2.jpg);">
         <h2><strong>East High School - Denver</strong></h2>
         <p><strong>Available Sports: Tennis, Basketball, Cornhole</strong></p>
         <button type="button" class="btn btn-success btn-xs update-author-btn">View Events</button>

    </div>
    <div class="carousel-item"
         style="background-image: url(http://www.nyedesign.org/images/3.jpg);">
         <h2><strong>West High School - Denver</strong></h2>
         <p><strong>Available Sports: Basketball, Hockey</strong></p>
         <button type="button" class="btn btn-success btn-xs update-author-btn">View Events</button>

    </div>
    <div class="carousel-item"
         style="background-image: url(http://www.nyedesign.org/images/4.jpg);">
         <h2><strong>Cheeseman Park - Denver</strong></h2>
         <p><strong>Available Sports: Vollyball, Kickball, Cornhole</strong></p>
         <button type="button" class="btn btn-success btn-xs update-author-btn">View Events</button>

    </div>
    <div class="carousel-item"
         style="background-image: url(http://www.nyedesign.org/images/5.jpg);">
         <h2><strong>Sloans Lake - Denver</strong></h2>
         <p><strong>Available Sports: Basketball, Swimming</strong></p>
         <button type="button" class="btn btn-success btn-xs update-author-btn">View Events</button>

    </div>
  </div>
</div>
