<div ui-content-for="title">
  <span class="title-text">Create Your Profile</span>
</div>

<div class="scrollable">
 <div class="scrollable-content section">
  <div ng-controller="ProfileFormController">
    <form role="form" ng-submit="profilePostCall()">
      <fieldset>
        <!-- preferred sport loop -->
        <div class="form-group">
          <label>Preferred Sports</label>
            <div class="row">
              <div class="pref-sports col-xs-4">
                Soccer<ui-switch ng-model="soccerVal" ng-click="checkSport(soccerVal, 'Soccer')"></ui-switch>
              </div>
              <div class="pref-sports col-xs-4">
                Ping Pong<ui-switch ng-model="pingpongVal" ng-click="checkSport(pingpongVal, 'Ping Pong')"></ui-switch>
              </div>
              <div class="pref-sports col-xs-4">
                Basketball<ui-switch ng-model="basketballVal" ng-click="checkSport(basketballVal, 'Basketball')"></ui-switch>
              </div>
            </div>
            <div class="row">
              <div class="pref-sports col-xs-4">
                Badminton<ui-switch ng-model="badmintonVal" ng-click="checkSport(badmintonVal, 'Badminton')"></ui-switch>
              </div>
              <div class="pref-sports col-xs-4">
                Flag Football<ui-switch ng-model="flagfootballVal" ng-click="checkSport(flagfootballVal, 'Flag Football')"></ui-switch>
              </div>
              <div class="pref-sports col-xs-4">
                Kickball<ui-switch ng-model="kickballVal" ng-click="checkSport(kickballVal, 'Kickball')"></ui-switch>
              </div>
            </div>
            <div class="row">
              <div class="pref-sports col-xs-4">
                Softball<ui-switch ng-model="softballVal" ng-click="checkSport(softballVal, 'Softball')"></ui-switch>
              </div>
              <div class="pref-sports col-xs-4">
                Baseball<ui-switch ng-model="baseballVal" ng-click="checkSport(baseballVal, 'Baseball')"></ui-switch>
              </div>
              <div class="pref-sports col-xs-4">
                Beer Pong<ui-switch ng-model="beerpongVal" ng-click="checkSport(beerpongVal, 'Beer Pong')"></ui-switch>
              </div>
            </div>
            <div class="row">
              <div class="pref-sports col-xs-4">
                Hockey<ui-switch ng-model="hockeyVal" ng-click="checkSport(hockeyVal, 'Hockey')"></ui-switch>
              </div>
              <div class="pref-sports col-xs-4">
                Cornhole<ui-switch ng-model="cornholeVal" ng-click="checkSport(cornholeVal, 'Cornhole')"></ui-switch>
              </div>
            </div>
        </div>
        <!-- div of icons -->
        <div class="sport-text" ng-style="{'opacity' : currentPage == 0 ? 0.4 : 1}">My Preferred Sports</div>
        <span><img class="sport-icon" src="http://www.nyedesign.org/images/american-football.png"></span>
        <span><img class="sport-icon" src="http://www.nyedesign.org/images/baseball.png"></span>
        <span><img class="sport-icon" src="http://www.nyedesign.org/images/basketball.png"></span>
        <span><img class="sport-icon" src="http://www.nyedesign.org/images/beer.png"></span>
        <span><img class="sport-icon" src="http://www.nyedesign.org/images/big-baseball-ball.png"></span>
        <span><img class="sport-icon" src="http://www.nyedesign.org/images/corncob.png"></span>
        <span><img class="sport-icon" src="http://www.nyedesign.org/images/feather.png"></span>
        <span><img class="sport-icon" src="http://www.nyedesign.org/images/football.png"></span>
        <span><img class="sport-icon" src="http://www.nyedesign.org/images/ice-hockey.png"></span>
        <span><img class="sport-icon" src="http://www.nyedesign.org/images/ping-pong.png"></span>
        <span><img class="sport-icon" src="http://www.nyedesign.org/images/summer.png"></span>
        <div class="form-group">
          <label>Availability</label>
          <div class="row">
            <div class="availability col-xs-6">
              AM<ui-switch ng-model="availabilityAM" value="1"></ui-switch>
            </div>
            <div class="availability col-xs-6">
              PM<ui-switch ng-model="availabilityPM" value="2"></ui-switch>
            </div>
          </div>
          <div class="row">
            <div class="availability col-xs-6">
              Weekdays<ui-switch ng-model="availabilityWeekdays" value="4"></ui-switch>
            </div>
            <div class="availability col-xs-6">
              Weekends<ui-switch ng-model="availabilityWeekends" value="5"></ui-switch>
            </div>
          </div>
        </div>
      </fieldset>
      <hr>
      <button type="submit" class="btn btn-info btn-block">Sign Up</button>
    </form>
<hr>
<!-- close controller -->
</div>
</div>
</div>
