<section class="section container-fluid">
  <h1 class="page-header">Welcome to beerleague.me</h1>
</section>
<div ng-controller="HomeController">
<button ng-click="authenticate('github')">Sign in with GitHub</button>
</div>
<div ui-content-for="title">
  <span class="title-text">HOME</span>
</div>

<!-- scrollable divs -->
<div class="scrollable">
 <div class="scrollable-content section">
<!-- main content -->
<div class="list-group text-center">
  <div class="list-group-item list-group-item-home">
    <div class="home-section">
      <div>
        <a href="#/view_my_teams"><i class="home-icon fa fa-users fa-3x feature-icon text-primary"></i></a>
      </div>
      <div>
        <h3 class="home-header">My Teams</h3>
      </div>
    </div>
  </div>
  <div class="list-group-item list-group-item-home">
    <div class="home-section">
      <div>
      <a href="#/view_my_events"><i class="home-icon fa fa-calendar fa-3x feature-icon text-primary"></i></a>
      </div>
      <div>
        <h3 class="home-header">My Events</h3>
      </div>
    </div>
  </div>
</div>
{{userID}}
<!-- end scrollabl divs -->
  </div>
</div>
