<div class="modal" ui-if="modal_view_my_events" ui-shared-state="modal_view_my_events">
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close"
                ui-turn-off="modal_view_my_events">&times;</button>
        <h4 class="modal-title">Event Info</h4>
      </div>
      <div class="modal-body">
          <div ng-repeat="obj in Get_SuperData.data.events.events">
            <div ng-if="obj.name == modalEventName">
            <h2>{{obj.name}}</h2>
            <p><strong>Start Time:</strong> {{obj.start_time}}:00</p>
            <p><strong>End Time:</strong> {{obj.end_time}}:00</p>
            <p><strong>Location:</strong> {{obj.location_name}}</p>
            <p><strong>Address:</strong> {{obj.loc_add_line_1}}</p>
            <p><strong>Location Notes:</strong> {{obj.location_description}}</p>
            <p><strong>City:</strong> {{obj.loc_add_city}}</p>
            <p><strong>Sport Type:</strong> {{obj.type}}</p>
            <p><strong>Equipment Required:</strong> {{obj.own_equipment_required}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="modal_view_my_events" class="btn btn-default">Close</button>
        <!-- <button ui-turn-off="modal_view_my_events" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
