<div class="modal" ui-if="modal_edit_my_profile" ui-shared-state="modal_edit_my_profile">

  <!-- scrollable divs -->
  <div class="scrollable">
   <div class="scrollable-content section">

  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close"
                ui-turn-off="modal_edit_my_profile">&times;</button>
        <h4 class="text-title">Edit My Profile</h4>
      </div>
      <div class="modal-body">
        <div ng-controller="ProfileFormControllerEdit">
          <form role="form" ng-submit="profilePutCall()">
            <fieldset>
              <div class="form-group">
                <label>First Name</label>
                <input type="text" ng-model="first_name" class="form-control">
              </div>
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" ng-model="last_name" class="form-control">
              </div>
              <div class="form-group">
                <label>Profile Picture</label>
                <input type="text" ng-model="image" class="profile-picture form-control">
              </div>
              <div ng-if="image">
                <img class="profile-pic" src={{image}}>
              </div>
              <div class="form-group">
                <label>Email Address</label>
                <input type="email" ng-model="email_address" class="form-control">
              </div>
              <div class="form-group">
                <label for="gender">Select Gender&nbsp;&nbsp;</label>
                <label class="form-check-inline gender">
                  <input class="form-check-input" type="radio" name="gender" id="female" value="f">&nbsp;&nbsp;Female
                </label>
                <label class="form-check-inline gender">
                  <input class="form-check-input" type="radio" name="gender" id="male" value="m">&nbsp;&nbsp;Male
                </label>
                <label class="form-check-inline gender">
                  <input class="form-check-input" type="radio" name="gender" id="unconfirmed" value="t">&nbsp;&nbsp;Prefer Not to Say
                </label>
              </div>
              <div class="form-group">
                <label>Tagline - Tell Us About Yourself</label>
                <input type="text" ng-model="tagline" class="form-control">
              </div>
              <div class="form-group">
                <label>Zip Code</label>
                <input type="text" ng-model="zip_code" class="form-control">
              </div>
              <div class="form-group">
                <label>Preferred Sports</label>
                  <div class="row">
                    <div class="pref-sports col-xs-4">
                      Soccer<ui-switch ng-model="soccerVal" ng-click="checkSport(soccerVal, 'Soccer')"></ui-switch>
                    </div>
                    <div class="pref-sports col-xs-4">
                      Ping Pong<ui-switch ng-model="pingpongVal" ng-click="checkSport(pingpongVal, 'Ping Pong')"></ui-switch>
                    </div>
                    <div class="pref-sports col-xs-4">
                      Basketball<ui-switch ng-model="basketballVal" ng-click="checkSport(basketballVal, 'Basketball')"></ui-switch>
                    </div>
                  </div>
                  <div class="row">
                    <div class="pref-sports col-xs-4">
                      Badminton<ui-switch ng-model="badmintonVal" ng-click="checkSport(badmintonVal, 'Badminton')"></ui-switch>
                    </div>
                    <div class="pref-sports col-xs-4">
                      Flag Football<ui-switch ng-model="flagfootballVal" ng-click="checkSport(flagfootballVal, 'Flag Football')"></ui-switch>
                    </div>
                    <div class="pref-sports col-xs-4">
                      Kickball<ui-switch ng-model="kickballVal" ng-click="checkSport(kickballVal, 'Kickball')"></ui-switch>
                    </div>
                  </div>
                  <div class="row">
                    <div class="pref-sports col-xs-4">
                      Softball<ui-switch ng-model="softballVal" ng-click="checkSport(softballVal, 'Softball')"></ui-switch>
                    </div>
                    <div class="pref-sports col-xs-4">
                      Baseball<ui-switch ng-model="baseballVal" ng-click="checkSport(baseballVal, 'Baseball')"></ui-switch>
                    </div>
                    <div class="pref-sports col-xs-4">
                      Beer Pong<ui-switch ng-model="beerpongVal" ng-click="checkSport(beerpongVal, 'Beer Pong')"></ui-switch>
                    </div>
                  </div>
                  <div class="row">
                    <div class="pref-sports col-xs-4">
                      Hockey<ui-switch ng-model="hockeyVal" ng-click="checkSport(hockeyVal, 'Hockey')"></ui-switch>
                    </div>
                    <div class="pref-sports col-xs-4">
                      Cornhole<ui-switch ng-model="cornholeVal" ng-click="checkSport(cornholeVal, 'Cornhole')"></ui-switch>
                    </div>
                  </div>
              </div>
              <div class="form-group">
                <label>Availability</label>
                <div class="row">
                  <div class="availability col-xs-6">
                    AM<ui-switch ng-model="availabilityAM" value="1"></ui-switch>
                  </div>
                  <div class="availability col-xs-6">
                    PM<ui-switch ng-model="availabilityPM" value="2"></ui-switch>
                  </div>
                </div>
                <div class="row">
                  <div class="availability col-xs-6">
                    Weekdays<ui-switch ng-model="availabilityWeekdays" value="4"></ui-switch>
                  </div>
                  <div class="availability col-xs-6">
                    Weekends<ui-switch ng-model="availabilityWeekends" value="5"></ui-switch>
                  </div>
                </div>
              </div>
            </fieldset>
            <hr>
          </form>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="modal_edit_my_profile" class="btn btn-default">Close</button>
        <button ui-turn-off="modal_edit_my_profile" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- end scrollable divs -->
  </div>
</div>
