<div class="modal" ui-if="modal_view_my_team" ui-shared-state="modal_view_my_team">
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close"
                ui-turn-off="modal_view_team">&times;</button>
        <h4 class="modal-title">Team Info</h4>
      </div>
      <div class="modal-body">
        <div ng-repeat="obj in Get_Data.data.teams">
          <div ng-if="obj.name == modalTeamID">
          <h2>{{obj.name}}</h2>
          <p><strong>Zip:</strong> {{obj.zip}}</p>
          <p><strong>Gender:</strong> {{obj.gender}}</p>
          <p><strong>Coed:</strong> {{obj.coed}}</p>
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="modal_view_my_team" class="btn btn-default">Close</button>
      </div>
    </div>
  </div>
</div>
