<h1 class="app-name">beersport.me</h1>

<div class="scrollable">
  <h1 class="scrollable-header app-name">beersport.me</h1>
  <div class="scrollable-content" id="sidebar-bottom">
    <div class="list-group" ui-turn-off="uiSidebarLeft">
      <a class="list-group-item" href="#/"><span class="sidebar-text">Home <i class="fa fa-chevron-right pull-right"></i></span></a>
      <a class="list-group-item" href="#/tabs"><span class="sidebar-text">Tabs <i class="fa fa-chevron-right pull-right"></i></span></a>
      <a class="list-group-item" href="#/swipe"><span class="sidebar-text">Swipe <i class="fa fa-chevron-right pull-right"></i></span></a>
      <a class="list-group-item" href="#/forms"><span class="sidebar-text">Forms <i class="fa fa-chevron-right pull-right"></i></span></a>
      <a class="list-group-item" href="#/profile"><span class="sidebar-text">Create Profile<i class="fa fa-chevron-right pull-right"></i></span></a>
      <a class="list-group-item" href="#/view_all_events"><span class="sidebar-text">View All Events<i class="fa fa-chevron-right pull-right"></i></span></a>
    </div>
  </div>
</div>
