<h1 class="app-name">beerleague.me</h1>

<div class="scrollable">
  <h1 class="scrollable-header app-name">beerleague.me</h1>
  <div class="scrollable-content" id="sidebar-bottom">
    <div class="list-group" ui-turn-off="uiSidebarLeft">
      <a class="list-group-item" href="#/"><span class="sidebar-text">Home <i class="fa fa-chevron-right pull-right"></i></span></a>
      <a class="list-group-item" href="#/tabs"><span class="sidebar-text">Tabs <i class="fa fa-chevron-right pull-right"></i></span></a>
      <a class="list-group-item" href="#/swipe"><span class="sidebar-text">Swipe <i class="fa fa-chevron-right pull-right"></i></span></a>
      <a class="list-group-item" href="#/forms"><span class="sidebar-text">Forms <i class="fa fa-chevron-right pull-right"></i></span></a>
      <a class="list-group-item" href="#/profile"><span class="sidebar-text">Create Profile<i class="fa fa-chevron-right pull-right"></i></span></a>
      <a class="list-group-item" href="#/view_all_events"><span class="sidebar-text">View All Events<i class="fa fa-chevron-right pull-right"></i></span></a>
      <a class="list-group-item" href="#/view_all_sports"><span class="sidebar-text">View All Sports<i class="fa fa-chevron-right pull-right"></i></span></a>
      <a class="list-group-item" href="#/view_my_teams"><span class="sidebar-text">View My Teams<i class="fa fa-chevron-right pull-right"></i></span></a>
      <a class="list-group-item" href="#/view_all_teams"><span class="sidebar-text">View All Teams<i class="fa fa-chevron-right pull-right"></i></span></a>
      <a class="list-group-item" href="#/view_my_profile"><span class="sidebar-text">View My Profile<i class="fa fa-chevron-right pull-right"></i></span></a>
      <a class="list-group-item" href="#/view_my_calandar"><span class="sidebar-text">View My Calandar<i class="fa fa-chevron-right pull-right"></i></span></a>
      <a class="list-group-item" href="#/view_sports_map"><span class="sidebar-text">View Sports Map<i class="fa fa-chevron-right pull-right"></i></span></a>
      <a class="list-group-item" href="#/add_event"><span class="sidebar-text">Add Event<i class="fa fa-chevron-right pull-right"></i></span></a>
      <a class="list-group-item" href="#/add_team"><span class="sidebar-text">Add Team<i class="fa fa-chevron-right pull-right"></i></span></a>

    </div>
  </div>
</div>
