<div ui-content-for="title">
  <span class="title-text">My Teams</span>
</div>

<!-- scrollable content -->
<div class="scrollable">
  <div class="scrollable-content">
   <div ng-controller="getMyTeams">

  <!-- main content -->
  <div ng-repeat="obj in Get_Data.data.teams">
    <div class="row">
      <div class="thumbnail text-center">
        <!-- <img src="{{obj.image}}" class="img-responsive"> -->
        <img src="https://hd.unsplash.com/photo-1431324155629-1a6deb1dec8d">
      <div class="caption">
        <h3 class="title">{{obj.name}}</h3>
        <p class="info-block"><i class="fa fa-location-arrow" aria-hidden="true"></i> Zip: {{obj.zip}}</p>
        <p class="info-block"><i class="fa fa-info" aria-hidden="true"></i> Gender: {{obj.gender}}</p>
        <button type="button" class="btn btn-primary btn-sm update-author-btn">View Team</button>
        <button type="button" class="btn btn-success btn-sm update-author-btn">Join Team</button>
      </div>
      </div>
    </div>
  </div>

<!-- close scrollable content divs -->
    </div>
  </div>
</div>
