<div ui-content-for="title">
  <span class="title-text">My Profile</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">
  <button class="btn pull-right btn-success" id="edit-profile">Edit Profile</button>
    <div class="container-fluid">
      <div class="row vertical-align">
        <div class="col-xs-6 col-md-4 col-lg-2">
          <img src="http://placehold.it/200x200" alt="Profile Picture" class="img-circle"/>
        </div>
        <div class="col-xs-6 col-md-8 col-lg-10">
          <p class="name-header align-center text-center">Jane Doe</p>
          <p class="pro-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Denver, CO</p>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip...</p>
        </div>
      </div>
    </div>
  </div>
</div>
