/*=====================
Background Body
=====================*/
.app-content {
  background-color: #ececec;
}

/*=====================
Sidebar Formatting
=====================*/
.app-name {
  color: white;
  font-family: "Passion One", Arial, sans-serif;;
  background-color: #0F007F;
  font-size: 30px;
}

#sidebar-bottom {
  background-image: url("https://hd.unsplash.com/photo-1471965187167-4a4c69ae4707");
  background-size: 1200px;
  background-repeat: no-repeat;
}

/*=====================
Scroll Formatting
=====================*/
.scrollable {
  font-family: Arial;
  background-color: #ececec;
  background-repeat: no-repeat;
}

/*=====================
Unifying ALL Body Text
=====================*/
.title-text {
  font-family: 'Heebo', Arial, sans-serif;
  font-size: 24px;
  color: #0F007F;
}

.body-text {
  font-family: 'Heebo', Arial, sans-serif;
  font-size: 18px;
  color: #0F007F;
}

.sidebar-text {
  font-family: 'Heebo', Arial, sans-serif;
  font-size: 14px;
  color: #0F007F;
}
